<%#= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :id=>"descriptive-metadata", :"data-resourceType"=>"music_recording", :"accept-charset"=>"utf-8") do -%>

<%= form_tag({:controller=>"assets", :action=>"update", :id=>params[:id]}, :method=>:put, :class => "step", :id=>"descriptive-metadata", :"data-resourceType"=>"music_recording") do %>

  <fieldset id="toplevel">
  <legend>核心分类</legend>
   类别<%= fedora_select(@document_fedora,"descMetadata", [:genre, :type], :choices=>Relators.type).html_safe %>
  </fieldset>
  <fieldset id="original">
    <legend>原生，次生蒙古族音乐分类</legend>
    <!-- <p class="legend-caption">Use the buttons on the left to add persons and their roles</p> -->
    分类<%= fedora_select(@document_fedora,"descMetadata", [:genre, :category], :choices=>Relators.category).html_safe %><br/>
    乐种<%= fedora_select(@document_fedora,"descMetadata", [:genre, :musicalgenres], :choices=>Relators.musicalgenres).html_safe %><br/>
    </fieldset>
    <fieldset id="songs">
      <legend>民间民歌</legend>
   内容性质<%= fedora_select(@document_fedora,"descMetadata", [:genre, :contentnature], :choices=>Relators.contentnature).html_safe %><br/>
    题材内容<%= fedora_select(@document_fedora,"descMetadata", [:genre, :contentsubject], :choices=>Relators.contentsubject).html_safe %><br/>
    音乐特点<%= fedora_select(@document_fedora,"descMetadata", [:genre, :musiccharacteristic], :choices=>Relators.musiccharacteristic).html_safe %><br/>
    音乐色彩区<%= fedora_select(@document_fedora,"descMetadata", [:genre, :colorarea], :choices=>Relators.colorarea).html_safe %><br/>
  </fieldset>
    <fieldset id="instruments">
      <legend>民间器乐</legend>
   演奏形式<%= fedora_select(@document_fedora,"descMetadata", [:genre, :primaryplayingform], :choices=>Relators.primaryplayingform).html_safe %><br/>
    演奏形式<%= fedora_select(@document_fedora,"descMetadata", [:genre, :secondaryplayingform], :choices=>Relators.secondaryplayingform).html_safe %><br/>
    演奏形式<%= fedora_select(@document_fedora,"descMetadata", [:genre, :tertiaryplayingform], :choices=>Relators.tertiaryplayingform).html_safe %><br/>

  </fieldset>
    <fieldset id="rap">
      <legend>民间说唱</legend>
   形式<%= fedora_select(@document_fedora,"descMetadata", [:genre, :form], :choices=>Relators.form).html_safe %><br/>
  </fieldset>
  
  </fieldset>
    <fieldset id="dances">
      <legend>民间歌舞</legend>
   表现形式<%= fedora_select(@document_fedora,"descMetadata", [:genre, :expressionform], :choices=>Relators.expressionform).html_safe %><br/>
  </fieldset>
  
  <fieldset id="original">
    <legend>再生蒙古族音乐分类</legend>
    <!-- <p class="legend-caption">Use the buttons on the left to add persons and their roles</p> -->
    体裁<%= fedora_select(@document_fedora,"descMetadata", [:genre, :primarygenres], :choices=>Relators.primarygenres).html_safe %><br/>
    分类<%= fedora_select(@document_fedora,"descMetadata", [:genre, :secondarygenres], :choices=>Relators.secondarygenres).html_safe %><br/>
    </fieldset>


  <h3>Proceed to next step?</h3>
  <%= radio_button_tag(:wf_step, "persons", :checked=>true) %> No <br/>
  <%= radio_button_tag(:wf_step, "genres") %> Yes <br/>
  <%= hidden_field_tag(:content_type,"music_recording") %>
  <%= submit_tag("Submit", :name=>"submit") %>
  <%= submit_tag("Save and Finish", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>

<% end %>








