<%#= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :id=>"descriptive-metadata", :"data-resourceType"=>"music_recording", :"accept-charset"=>"utf-8") do -%>

<%= form_tag({:controller=>"assets", :action=>"update", :id=>params[:id]}, :method=>:put, :class => "step", :id=>"descriptive-metadata", :"data-resourceType"=>"music_recording") do %>


  <fieldset id="contributors">
    <legend>Contributors</legend>
    <p class="legend-caption">使用左边的按钮添加人物与角色</p>
    <%= render :partial=>"mmdbcore/header", :locals => {:node=>"person"} %>
  </fieldset>


  <h3>进入下一步?</h3>
  <%= radio_button_tag(:wf_step, "titles", :checked=>true) %> 否 <br/>
  <%= radio_button_tag(:wf_step, "persons") %> 是 <br/>
  <%= hidden_field_tag(:content_type,"video") %>
  <%= submit_tag("保存", :name=>"submit") %>
  <%= submit_tag("保存并完成", :name=>"finish", :class=>"save-submit") unless params[:new_asset] %>

<% end %>

<h3 class="twiddle">Delete Fields</h3>



<% sidebar_items << capture do %>

      <h3 class="twiddle">添加字段</h3>
      <ul>
        <!-- Buttons for inserting and deleting field sets -->
        <% ["person"].each do |type| %>
          <li>
          <%= form_tag url_for(:action=>"create", :asset_id=>@document[:id], :controller=>"mmdbcore", :content_type=>"music_recording", :node=>type) do %>
            <%= hidden_field_tag(:wf_step, params[:wf_step]) %>
            <%= submit_tag "添加 人物", {:id => "add#{type.capitalize}"} %>
          <% end %>
          </li>
        <% end %>
      </ul>

<% end %>



