<%= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  <%= hidden_field_tag("_method","put") %>
  <%= hidden_field_tag(:content_type,"video") %>
  <p id="title_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:title_info,:main_title], "标题<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false, :required=>true) %>
  </p>
  <p id="keyword_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:keyword], "关键词<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:keyword], :multiple=>false) %>
  </p>
  <p id="pubdate_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:pubdate], "发表时间<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:pubdate], :multiple=>false) %>
  </p>
  <%= submit_tag("保存") %>
<% end %>

