<div class="document">
<h3 class="index_title">
  <%= counter+1+params[:page].to_i*10 %>.<img alt="Book" src="/assets/icons/music-score.png">
    <%= link_to_document(document, :label => blacklight_config.show.heading.to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %>
</h3>
<dl class="defList">
<dt>
人物:</dt>
<% begin %>

<dd><%= document.fetch(:person_namePart_t).first %></dd>
<% rescue %>
<% end %>
  
  
<dt>格式:</dt>

<dd><span class="iconSpan music-recording"><%= document.fetch(:object_type_facet).first %></span><dd>

<% begin %>
  <% document.fetch(:genre_type_facet).first %>
<dt>类型:</dt><dd><%= document.fetch(:genre_type_facet).first %><dd>
<% rescue %>
<% end %>

<dt>体裁:</dt>
<dd>
<% begin %>
<%= document.fetch(:genre_categoy_facet).first %>
<% rescue %>
<% end %>

<% begin %>
<%= document.fetch(:genre_musicalgenres_t).first %>
<% rescue %>
<% end %>

<% begin %>
<%= document.fetch(:genre_contentnature_t).first %>
<% rescue %>
<% end %>

<% begin %>
<%= document.fetch(:genre_contentsubject_t).first %>
<% rescue %>
<% end %>


<% begin %>
<%= document.fetch(:genre_primarygenres_t).first %>
<% rescue %>
<% end %>

<% begin %>
<%= document.fetch(:genre_secondarygenres_t) %>
<% rescue %>
<% end %>
</dd>

<% begin %>
<% document.fetch(:genre_colorarea_t).first %>
<dt>音乐色彩区</dt><dd><%= document.fetch(:genre_colorarea_t).first %></dd>
<% rescue %>
<% end %>

</dl>
</div>