<code><script src="/mediaelement/jquery.js"></script>
<script src="/mediaelement/mediaelement-and-player.min.js"></script>
<link rel="stylesheet" href="/mediaelement/mediaelementplayer.css" /></code>

<audio src="/hydra/file_assets/changeme:16" ></audio>

<script>
// using jQuery
$('video,audio').mediaelementplayer(/* Options */);
</script>