
<%= render_submission_workflow_step -%>

<% unless params[:new_asset] %>
  <% sidebar_items << capture do %>
    <h3 class="twiddle">选择流程步骤</h3>
    <%= form_tag(url_for(edit_catalog_path)) do -%>
      <%= radio_button_tag(:wf_step, "titles") %> 标题 <br/>
      <%= radio_button_tag(:wf_step, "persons") %> 人物 <br/>
      <%= radio_button_tag(:wf_step, "genres") %> 分类/风格 <br/>
      <%= radio_button_tag(:wf_step, "files") %> 文件 <br/>
      <%= radio_button_tag(:wf_step, "permissions") %> 权限 <br/>
      <%= hidden_field_tag(:content_type,"video") %>
      <%= submit_tag("前往", :name=>"submit") %>
    <% end %>
  <% end %>
<% end %>