<div class="document_viewer" id="cover_container">

	<h1 class="document-heading">
		<% unless get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first.empty? %>
	      <%= get_values_from_datastream(@document_fedora,"descMetadata", [:title_info, :main_title]).first %>
		<% else %>
			<%= params[:id] %>
		 <% end %>
	</h1>

  <h2 class="section-title">资源描述</h2>
  <div class="description">
   <%= display_field([:title],{:name=>'标题'}) %>
   <dt><label for="[:person]">人物</label></dt>
  <dd id="[:person]"><ul><%= display_fieldset(:person,{:name=>'标题'}) %></ul></dd>
    <%= display_field([:genre, :category],{:name=>'标题'}) %>
    <%= display_field([:genre, :primarygenres],{:name=>'体裁'}) %>
            <%= display_field([:genre, :secondarygenres]) %>
  </div>
  <%# copied to show_file_assets %>
	<% unless @document_fedora.file_objects(:response_format=>:solr).empty? %>
    <h2 class="section-title">资源文件</h2>
    <div class="uploads" id="uploads_<%= format_pid(params[:id]) %>">	
      <table id="file_assets" class="multipleEdit">
		    <tr>
		      <th></th>
		      <th>文件名</th>
		      <th>大小</th>
		      <th>添加时间</th>
		    </tr>
			<% @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
  			<tr class="file_asset" >
  			  <% ext = result[solr_name("title", :text)].first.split('.').last %>
  			  <td>
  			  <% if ext == 'png' %>
  			  <%= tag("img", { :src => hydra_file_asset_path(result["id"]) }) %>
          <% end %>
          <% if ext == 'mp3' %>
            <%= tag("audio", { :src => hydra_file_asset_path(result["id"]), :controls => 'controls' }) %>',
          <% end %>
          <% if ext == 'mp4' %>
            <%= tag("video", { :src => hydra_file_asset_path(result["id"]), :controls => 'controls' }) %>',
          <% end %>
          </td>
  			  <td><%= link_to result[solr_name("title", :text)], hydra_file_asset_path(result["id"]) %></td>
  			  <td><%= result[solr_name("extent", :text)] %></td>
  			  <td>
  			    <% dt = DateTime.parse(result[ solr_name("system_create", :date)] ) -%>
  			    <%= format_date dt %>
  			  </td>
  			</tr>
			<% end %>		
		  </table>
  	</div>
	<% end %>

</div>
