<%= form_tag(url_for(:controller=>"assets", :action=>"update", :id=>params[:id]), :class => "step") do -%>
  <%= hidden_field_tag("_method","put") %>
  <%= hidden_field_tag(:content_type,"music_recording") %>
  <p id="title_field" class="fedora-text-field">
    <%= fedora_field_label("descMetadata", [:title_info,:main_title], "Title<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false, :required=>true) %>
  </p>
  <p id="abstract_field" class="fedora-text-area">
    <%= fedora_field_label("descMetadata", [:abstract], "Title<span class=\"required-note\">Required</span>".html_safe) %>
    <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
  </p>
  <%= submit_tag("保存") %>
<% end %>

