h1 {
  margin:10px 0 10px 50px;
  font-size: 18px;
}
#facets {
  border: 1px solid grey;
}
#facets ul li {
  margin-left: 10px;
}
#facets div h3 {
  text-align:center;
  font-size:14px;
  height: 26px;
  margin: 0;
  border-top: 1px solid 
  #CCC;
  border-bottom: 1px solid 
  #CCC;
  background-color: 
  #EAE9E9;
  background-image: url("/assets/accordion-gradient.png");
  cursor: pointer;
}

#appliedParams .label {
  position:relative;
  left:0;
}

dt {
  float: left;
  color: 
  #555;
  min-width: 9.5em;
  padding: 0 5px 0 0;
  text-align: left;
}
.document dl.defList {
  margin: 0 0 1em 1.5em;
  padding: 0 0.5em;
}
/*span.music-recording {
background-image: url("/assets/icons/music-recording.png");
}
span.music-recording {
background-image: url("/assets/icons/music-recording.png");
}
span.music-recording {
background-image: url("/assets/icons/music-recording.png");
}
span.music-recording {
background-image: url("/assets/icons/music-recording.png");
}*/

.iconSpan {
display: inline;
/*padding: .5em 0 .5em 20px;*/
background: no-repeat;
background-position: left center;
}
.document {
  min-height:107px;
}

.pagination .prev_page {
border-bottom: none;
left: 0;
margin-left: 25em;
position: absolute;
}