<div id="select-item-box">
  <a class="add-new-asset" href="#">添加新资料</a>
  <ul id="select-item-list">
    <li>
    <%= link_to_create_asset '添加音频', 'music_recording' %>
    </li>
    <li>
    <%= link_to_create_asset '添加视频', 'video' %>
    </li>
    <li>
    <%= link_to_create_asset '添加乐谱', 'music_score' %>
    </li>
    <li>
    <%= link_to_create_asset '添加论文', 'article' %>
    </li>
    <li>
    <%= link_to_create_asset '添加书籍', 'book' %>
    </li>
        
  </ul>
</div>