<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%#= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
    <%= csrf_meta_tags %>
    <%= raw(render_head_content) %>
	</head>
  
  <body class="<%= render_body_class %>">

		<div id="hd">
			<%= render :partial => '/user_util_links' %>
			<%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>".html_safe : "" %>
		</div>
	    <h1>蒙古族音乐数据库</h1>
    <div id="bd">
      <div id="main">
        <div id="main_container">
          <%= render :partial=>'/flash_msg' %>
          <%= yield %>
        </div>
      </div>
      <div id="sidebar"><%= sidebar_items.join('').html_safe %></div>	
	  </div>
	    
	    
		<div id="ft">
      <div class="contact_info"></div> 
        <div class="aux_links"> </div>
      <div id="footer_notices">
        <div id="bottom_text">
          <div id="hydra_logo"><%= image_tag('hydra/powered_by_hydra.png', :width => 80, :height => 50, :alt => "Hydra logo") %></div>
        </div>
      </div>
		</div>
		
  </body>

</html>
